body{
    background-image: url('../images/ff.jpg');
}
#PalabrasTabla{
    padding-left: 20%;
}
#caja{
    padding-top: 1.5% !important;
}
.end-game{
    color: white;
    font-weight:bold;
}
#aciertos{
    color: green;
}
#fallos{
    color: red;
}
.descDif{
    padding: 10%;
}
