body{
    background-image: url('../images/ff.jpg');
}
.controles{
    height: 30vh;
}
.question-controls{
    padding-left: 5%!important;
}
.card-body{
    padding: 1%!important;
}
#PalabrasTabla{
    padding-left: 20%;
}
#caja{
    padding-top: 1.5% !important;
}
.end-game{
    color: white;
    font-weight:bold;
    padding: 2%;
    padding-top: 10%;
}
#aciertos{
    color: green;
}
#fallos{
    color: red;
}
.descDif{
    padding: 10%;
}
.c2{
    font-size: 80%;
    padding-left: 2%;
    margin-top: 10%;
    height: 70%!important   ;
}
.inicio{
    
    padding-top: 2%;
    margin-left: 44%;
}
.player{
    top:60%;
    left:65%!important;
}
.marcador{
    top:60%;
    
}